/* Font */

@font-face {
  font-family: "Raleway";
  src: url("font/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

strong {
	font-weight: bold;
}

/* BLOC PAGE */

#bloc_page {
	width: auto;
	margin:0px 0px 0px 55px;
}

a {
	text-decoration: none
}

 #bloc_page{
	font-family: "Raleway", Impact, sans-serif;
}

/** HEADER **/

header {
	display: flex;

}
	/* logo */

#logo_reservia {
	width:70%;
}

#logo_reservia img{
	position: absolute;
	width: 70px;
	height: auto;
	margin-top: 20px;
}

	/* nav */

nav {
	width: inherit;
	height: 60px;
	font-size: 0.9em;
}

nav ul{
	list-style-type: none;
	display:flex;
	margin-top: 0px;

}

nav li {
	width: 130px;
	text-align: center;
	padding-top: 27px;
}

nav a {
	font-size: 0.9em;
	color : grey;
	text-decoration: none;
}

nav li a:hover {
	color: #0065FC;
}

nav li:hover {	
	border-top: 2px #0065FC solid;
}

nav a strong{
	color: #0065FC;
}

/** BODY **/

/* titre */

#hebergement h1 {
	margin-top: 30px;
	margin-bottom: -5px;
	font-size: 1.05em;
}

#hebergement p {
	font-size: 0.85em;
	margin-top: 15px;
}

/* Bloc Recherche */

#bloc_recherche {
	display: flex;
	align-items: center;
	margin: 45px 0px 45px 0px;
	height: 45px;
}

#encart_recherche {
	display: flex;
	align-items: center;
}

#encart_recherche p{
	height:50px;
}

#icone_fontawesome {
	border:3px #F2F2F2 solid;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
	padding: 10px 20px 10px 15px;
}

input {
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: bolder;
	border-right: 0px; 
	border-left: 0px; 
	padding: 10px 0px 10px 10px;
}

#bouton_recherche {
	background-color: #0065FC;
	padding: 13px 15px 13px 15px;
	border-radius: 0px 15px 15px 0px;
}

#bouton_recherche a {
	color: white;
}

#icone_pointeur_recherche {
	background-color: #F2F2F2;
	width:50px;
}

#bouton_recherche {
	background-color: #0065FC;
	color: #FFFFFF;
	width: 130px;
}

#bouton_recherche a{
	text-decoration: none;
}

/* FILTRES */

#filtres {
	display: flex;
	align-items: center;
	font-size: 0.9em;
}

#filtres span{
	text-align: center;
}

#filtres ul{
	list-style-type: none;
	display: flex;
	margin-left: 0px;
}

#filtres li{
	text-align: center;
	padding:5px 10px 10px 0px;
}

#filtres li{
	margin-right: 1em;
	text-align: center;
	background-color: white;
	padding:10px 25px 10px 50px;
	border:3px #F2F2F2 solid;
	border-radius: 30px 30px 30px 30px;
}

#filtres li:hover {
	background-color: #DEEBFF;
	border:3px #0065FC solid;
	color:white;
}

#filtres a{
	text-decoration: none;
	color:black;
}

#filtres a:hover{
	text-decoration: none;
}

/* infos */

#filtres img{
	width: 10px;
	height: 10px;
}

/* HEBERGEMENTS */

section {

}

#bloc_hebergement {
	display: flex;
}

/* hebergements recherchés */



#resultat_hebergement {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

#hebergement_recherche {
	width: 62%;
	height: auto;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 10px;
}

#hebergement_recherche ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	vertical-align: top;
	justify-content: space-around;
	padding: 0px;

}

#hebergement_recherche img {
	position: relative;
	min-width: 20%;
	max-width: 20%;
	min-height: 10%;
	border-radius: 15px;
}

#hebergement_recherche li {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 15px 15px 15px;
}

#hebergement_recherche li a{
	width: 27%;
	min-width: 180px;
	min-height: 145px;
}

.element_hebergement_recherche{
	min-width: 17%;
	border-radius: 15px;
	background-color: white;
	box-shadow: -1px -1px 15px 2px grey;
}

/* hebergements populaires */

#hebergements_populaires {
	width: 25vw;
	height: auto;
	background-color: #F2F2F2;
	margin:none;
	padding: 5px;
}

#hebergements_populaires ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

#hebergements_populaires li {
	list-style-type: none;
	
}

#hebergements_populaires img {
	position: relative;
	min-width: 20%;
	max-width: 20%;
	min-height: 40%;
	border-radius: 15px;
}

#hebergements_populaires li a{
	width: 80%;
	height: 145px;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 15px;

}

/* ACTIVITES */

/** FOOTER **/

footer {
	width:104%;
	display: flex;
	background-color: #F2F2F2;
	padding: 30px 0px 30px 0px;
	margin-top: 50px;
	margin-left: -50px;
}

footer ul {
	list-style-type: none;
	margin-left: 50px;
	width: 337px;
	padding-left: 0px;
}

footer li {
	padding: 6px 0px 6px 0px;
	font-size: 0.83em;
}

footer li a {
	color: #5F5F5F;
}

footer h1 {
	margin-left: 50px;
	font-size: 0.9em;
}
